.btn-outline-dark{
    background-color: map-get($map: $colores-fondo , $key: color-fondo-two);
    margin: 5px 0 5px 0;
}
.contacto{
    width: 100%;
    display: inline-block;
    text-align: center;
    &-direccion{
        list-style: none;
    }
}
.mb-3{
    width: 50%;
    display: inline-block;
    text-align: center;

}