.pie_option_item {
    width: 30px;
}

.pie_option_maps {
    width: auto;


}

.pie_option_mercadopago {
    width: 300px;
}

.pie {
    background-color: black;
}

.pie_item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}


.mercadopago {
    width: 30%;
}