.pie {
    width: 100%;
    padding: 50px 0px;
    background-color: black;
    background-size: cover;

    &-pagina-title {
        color: #FFFFFF;
        margin: 5%;
        text-align: center;
        font-family: 'Raleway', sans-serif;

        &-container {
            list-style: none;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
        }
    }
}


.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;

    &-redes-icons {
        padding: 0 5px 5px 0;

    }
}


.pie-pagina-text {
    color: #FFFFFF;
    list-style: none;
    font-family: 'Raleway', sans-serif;

    &-nav {
        color: #FFFFFF;
        margin: auto;
        padding: 10px;
        text-decoration: none;
        list-style: none;
    }
}

.pie-pagina-icons {
    display: flex;
    flex-direction: column;
    width: 50px;

}

.pie-pagina-pagos {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: map-get($map: $grid-column , $key: grid-columns-tree);
    grid-template-rows: map-get($map: $grid-rows , $key: grid-rows-four);
    list-style: none;

    &-icons {
        margin: 0 0 5px 5px;
        gap: 5px;
        width: 40px;
        padding: 2px;
    }
}

.copyright {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 20px;
}