.pie {
    display: flex;
    justify-content: space-between;
    background-color: black;

    &-pagina-title {
        color: #FFFFFF;
    }
}

.pie-pagina-text-nav {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.pie-pagina-icons {
    display: flex;
    flex-direction: column;
    width: 50px;
}