.btn {
    width: 100%;
    align-items: center;
    margin-top: 2%;
}

.kakita {
    display: grid;
    position: fixed;
    z-index: 10;
    margin-top: -55px;
    width: 100px;

    &-datos {
        width: 100px;
    }
}
.saludousuario{
    color: aliceblue;
}

.carrito{
    display: grid;
        position: fixed;
        right: -90%;
        z-index: 10;
        top: 150px;
        width: 100%;
        &img{
            width: 100px;
        }
}