.btn {
    width: 100%;
    align-items: center;
    margin-top: 2%;
}

.kakita {
    display: grid;
    position: fixed;
    z-index: 10;
    margin-top: -55px;
    width: 100px;

    &-datos {
        width: 100px;
    }
}