@import "variable";

.grid {
    display: grid;
    padding: 15px;
    justify-content: center;
}

.promo {
    @extend .grid;
    grid-template-columns: map-get($map: $grid-column , $key: grid-columns-tree);
    gap: 10px 10px;
}

.promo_item {
    width: 100%;
    border-radius: 1%;



}

.galletitas {
    font-family: 'Raleway',
        sans-serif;
    flex-grow: initial;
}
.destacadas{
    display:grid;
    grid-template-columns: map-get($map: $grid-column, $key:grid-columns-tree );
    gap: 1% 1%;
    margin-bottom: 5%;
    object-fit: none;
    &-img{
        width: 100%;
        object-fit: scale-down;
    }
}
.destacadas-text{
    text-align: center;
    margin-top: 5%;

}