@import "variable";

.promo {
    display: grid;
    padding: 15px;
    justify-content: center;
    grid-template-columns: map-get($map: $grid-column , $key: grid-columns-two);
    gap: 10PX 10PX;

}

.promo_item {
    width: 90%;
    height: 90%;
    border-radius: 1%;

}

.galletitas {
    font-family: 'Signika Negative', sans-serif;
    flex-grow: initial;
}