.imagenes {
    padding-top: 5px;
    padding-bottom: 5px;

}

.whatsapp {
    display: none;

}

.imagenes:hover {
    transform: scale(1.06);
    transition: all 1s;

}

.text_imagenes {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.tortas {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.promociones {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 100%;

    &-pro {
        display: block;
        display: inline-block;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width:1024px) {
    .imagenes {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .promo {
        display: flex;
        flex-wrap: wrap;
    }

    .tortas {
        font-family: 'Raleway', sans-serif;
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .pie {
        padding: 5px 5px 5px 5px;
    }

    .pie-pagina {
        display: none;
        display: grid;
        justify-content: center;

        &-pagos {
            display: block;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .d-block {
        width: 100%;

    }
    .promociones-pro{
        font-size: 15px;
    }

    .pie-pagina-redes {
        text-align: center;

        &-icons {
            width: 50px;
            height: 30px;
        }
    }

    .pie-pagina {
        text-align: center;

        &-icons {
            visibility: collapse;
            display: grid;
            position: fixed;
        }
    }

    .pie-pagina-text-nav {
        margin-right: 30px;
        font-size: 10px;
    }

    .pie-pagina-title {
        font-size: 0%;
    }

    .pie-pagina-text {
        margin-right: 25px;
        &-text{
            font-size: 10px;
        }
    }

    .margin {
        margin-top: -30px;
    }

    .nav-link {
        display: grid;
        justify-content: end;
        font-size: 10px;
    }

    .logo-icons {
        display: none;

    }

    .fixed {
        display: grid;
        position: fixed;
        z-index: 10;
        margin-top: -55px;
        width: 100px;
    }

    .contacto-imagenes {
        display: flex;
        flex-wrap: wrap;
    }
    .promociones-head-text{
        font-size: 15px;
    }
    .text-final{
        font-size: 10px;
    }
}