$colores-fondo: (
    color-fondo-one: black,
    color-fondo-two: #ED9898,
    color-fondo-tree:#706363
);
$color-text: (
    color-text-one: black,
    color-text-two: #ED9898,
    color-text-tree: white
);
$grid-column: (
    grid-columns-two: repeat(2, 1fr),
    grid-columns-tree:repeat(3, 1fr),
    grid-columns-four:repeat(4, 1fr),
    grid-columns-seven:repeat(5, 1fr),
    grid-columns-nine:repeat(6, 1fr),

);
$grid-rows: (
    grid-rows-two: repeat(2, 1fr),
    grid-rows-tree:repeat(3, 1fr),
    grid-rows-four:repeat(4, 1fr),

);

.padding {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-right: 4px;
}