

$colores-fondo: (
    color-fondo-one: #0000,
    color-fondo-two: #FFC300,
    color-fondo-tree: #900C3F
);
$color-text: (
    color-text-one: #F8F9F9,
    color-text-two: #FFC300,
    color-text-tree: #FF5733
);
$grid-column: (
    grid-columns-two: repeat(2, 1fr),
    grid-columns-tree:repeat(3, 1fr),
    grid-columns-four:repeat(4, 1fr)
);

.padding{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}


