.padding {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-right: 4px;
}

.padding {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-right: 4px;
}

.grid, .promo {
  display: grid;
  padding: 15px;
  justify-content: center;
}

.promo {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
}

.promo_item {
  width: 100%;
  border-radius: 1%;
}

.galletitas {
  font-family: "Raleway", sans-serif;
  flex-grow: initial;
}

.whatsapp-fixed {
  position: fixed;
  width: 60px;
  right: 15px;
  bottom: 15px;
  z-index: 9;
}

.promociones {
  display: block;
  display: inline-block;
  margin: 0 0 -15px 0;
  padding: 5px 5px 5px 5px;
}
.promociones-head {
  background-color: #ED9898;
  display: block;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: -5px 0 -15px 0;
}
.promociones-head-text {
  font-family: "Raleway", sans-serif;
}

.logo {
  background-color: black;
}
.logo-icons {
  width: 140px;
  padding: 5px 0 5px 5px;
}

.promociones-pro {
  color: #ED9898;
}

* {
  margin: 0;
  padding: 0;
}

.fixed {
  display: none;
}

.mapa {
  text-align: center;
}
.mapa-img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  border-radius: 10%;
}

.color-text-carousel {
  color: white;
  -webkit-text-stroke: 0.4px #ED9898;
  font-family: "Raleway", sans-serif;
}

.d-block {
  padding: 15px 10% 15px 10%;
}

.carousel-control-prev-icon {
  background-color: black;
  height: 80px;
}

.carousel-control-next-icon {
  background-color: black;
  height: 80px;
}

.pie {
  width: 100%;
  padding: 50px 0px;
  background-color: black;
  background-size: cover;
}
.pie-pagina-title {
  color: #FFFFFF;
  margin: 5%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.pie-pagina-title-container {
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.pie-pagina {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  opacity: 60%;
}
.pie-pagina-redes-icons {
  padding: 0 5px 5px 0;
}

.pie-pagina-text {
  color: #FFFFFF;
  list-style: none;
  font-family: "Raleway", sans-serif;
}
.pie-pagina-text-nav {
  color: #FFFFFF;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

.pie-pagina-icons {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.pie-pagina-pagos {
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  list-style: none;
}
.pie-pagina-pagos-icons {
  margin: 0 0 5px 5px;
  gap: 5px;
  width: 40px;
  padding: 2px;
}

.copyright {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px 20px;
  opacity: 60%;
}

.contacto-imagenes {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}
.contacto-imagenes-icons {
  width: 80px;
  height: 80px;
}
.contacto-imagenes .boton:hover {
  transform: scale(2.5);
  transition: all 1s;
}

.navbar-collapse {
  flex-grow: initial;
  font-family: "Raleway", sans-serif;
}

.btn-outline-success {
  color: #ED9898;
  border-color: #ED9898;
  background-color: black;
}

.nav-link {
  font-size: 20px;
}

.navbar-toggler {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.imagenes {
  padding-top: 5px;
  padding-bottom: 5px;
}

.whatsapp {
  display: none;
}

.imagenes:hover {
  transform: scale(1.06);
  transition: all 1s;
}

.text_imagenes {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}

.tortas {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.promociones {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: aliceblue;
  text-align: center;
  width: 100%;
}
.promociones-pro {
  display: block;
  display: inline-block;
  margin: 0 0 0 0;
}

@media screen and (max-width: 1024px) {
  .imagenes {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .promo {
    display: flex;
    flex-wrap: wrap;
  }
  .tortas {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .pie {
    padding: 5px 5px 5px 5px;
  }
  .pie-pagina {
    display: none;
    display: grid;
    justify-content: center;
  }
  .pie-pagina-pagos {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
  .d-block {
    width: 100%;
  }
  .promociones-pro {
    font-size: 15px;
  }
  .pie-pagina-redes {
    text-align: center;
  }
  .pie-pagina-redes-icons {
    width: 50px;
    height: 30px;
  }
  .pie-pagina {
    text-align: center;
  }
  .pie-pagina-icons {
    visibility: collapse;
    display: grid;
    position: fixed;
  }
  .pie-pagina-text-nav {
    margin-right: 30px;
    font-size: 10px;
  }
  .pie-pagina-title {
    font-size: 0%;
  }
  .pie-pagina-text {
    margin-right: 25px;
  }
  .pie-pagina-text-text {
    font-size: 10px;
  }
  .margin {
    margin-top: -30px;
  }
  .nav-link {
    display: grid;
    justify-content: end;
    font-size: 10px;
  }
  .logo-icons {
    display: none;
  }
  .fixed {
    display: grid;
    position: fixed;
    z-index: 10;
    margin-top: -55px;
    width: 100px;
  }
  .contacto-imagenes {
    display: flex;
    flex-wrap: wrap;
  }
  .promociones-head-text {
    font-size: 15px;
  }
  .text-final {
    font-size: 10px;
  }
}
.btn-outline-dark {
  background-color: #ED9898;
  margin: 5px 0 5px 0;
}

.contacto {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.contacto-direccion {
  list-style: none;
}

.mb-3 {
  width: 50%;
  display: inline-block;
  text-align: center;
}/*# sourceMappingURL=main.css.map */