/* INDEX */
* {
    margin: 0;
    padding: 0;

}

/* menu option */
.navbar-collapse {
    font-family: 'Signika Negative', sans-serif;
    flex-grow: initial;
}

/* promociones */

/* pie */
/* pie de pagina */
.pie_option_item {
    width: 30px;
}

.pie_option_maps {
    width: auto;


}

.pie_option_mercadopago {
    width: 300px;
}

.pie {
    background-color: black;
}

.pie_item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}


/* mercadopago */
.mercadopago {
    width: 30%;
}

/* mapa */
@media screen and (min-width:320px) {
    .mapa {
        margin-right: 15px;
    }

    /* whatsapp */
    .whatsapp {
        width: 15%;
        position: fixed;
        right: 15px;
        bottom: 15px;
    }

}

/* tortas */
/* foto de tortas */
@media screen and (min-width:1024px) {
    .imagenes {
        padding-top: 5px;
        padding-bottom: 5px;

    }

    /* anular whatsapp en escritorio*/
    .whatsapp {
        display: none;

    }

    .imagenes:hover {
        /* animaciones */
        transform: scale(1.1);
        transition: all 1s;

    }

    .text_imagenes {
        font-family: 'Signika Negative', sans-serif;
        display: flex;
        justify-content: center;
    }

    .tortas {
        font-family: 'Signika Negative', sans-serif;
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .promociones {
        font-family: 'Signika Negative', sans-serif;
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media screen and (min-width:320px) {
    .imagenes {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .tortas {
        font-family: 'Signika Negative', sans-serif;
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .promociones {
        font-family: 'Signika Negative', sans-serif;
        display: flex;
        justify-content: center;
        background-color: black;
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }
}



/* pages galletitas - box y contacto */

/* promociones */
.promo {
    display: grid;
    padding: 15px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10PX 10PX;

}

.promo_item {
    width: 90%;
    height: 90%;
    border-radius: 1%;

}
.galletitas {
    font-family: 'Signika Negative', sans-serif;
    flex-grow: initial;
}